:host {
    display: block;
    min-height: 100vh;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.sidebar-brand .rotate-n-15 {
    transform: rotate(-15deg);
}

.text-gray-600 {
    color: #858796;
}